@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

/*--------------------------------------Body Styling---------*/

body {
    margin-left: 30px;
    margin-right: 30px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    background-color: #CACACA;
}

/*----------------------------Header------*/

header {
    text-align: center;
    text-decoration: underline;
}


/*------------------------------How To Section-----*/

.how-to-bg {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(123, 123, 123, 1);
    -moz-box-shadow: 0px 0px 15px 1px rgba(123, 123, 123, 1);
    -o-box-shadow: 0px 0px 15px 1px rgba(123, 123, 123, 1);
    box-shadow: 0px 0px 15px 1px rgba(123, 123, 123, 1);
}




/*-----------------------------------Game Styling-----*/

#game {
    margin: 20px;
}

#game-main-circle {
    border-radius: 25%;
    height: 600px;
    width: 600px;
    margin: auto;
    position: relative;
    box-shadow: 0 0 30px 0;
    border-style: double;
    border-width: 10px;
    background-color: black;
}

#game-top-left {
    height: 300px;
    width: 300px;
    background-color: #006dff;
    border-radius: 50% 0 0 0;

    /* active color will be #217285 */
}

#game-top-right {
    height: 300px;
    width: 300px;
    background-color: #e60f0f;
    border-radius: 0 50% 0 0;
    margin: -300px 0 0 300px;

    /* active color will be #9A2A2A */
}

#game-bottom-left {
    height: 300px;
    width: 300px;
    background-color: #fff300;
    border-radius: 0 0 0 50%;

    /* active color will be #B8A92B */
}

#game-bottom-right {
    height: 300px;
    width: 300px;
    background-color: #1dcc31;
    margin: -300px 0 0 300px;
    border-radius: 0 0 50% 0;

    /* active color will be #3B9E37 */
}


#game-inner-circle {
    border-radius: 25%;
    width: 200px;
    height: 200px;
    background-color: #000;
    margin: -400px 0px 0px 200px;

}
